node-red-NA
[{"id":"603748c7.195d38","type":"inject","z":"9fae6cbf.aeb61","name":"NA","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":140,"wires":[["10441c97.df0da3"]]},{"id":"f38703c0.6c807","type":"http request","z":"9fae6cbf.aeb61","name":"","method":"POST","ret":"txt","url":"","tls":"","x":594,"y":139,"wires":[[]]},{"id":"83b22fe9.79cca","type":"inject","z":"9fae6cbf.aeb61","name":"TV_SUB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":153.99996948242188,"y":209,"wires":[["e509f02c.e93d8"]]},{"id":"836810f6.83b2f","type":"http request","z":"9fae6cbf.aeb61","name":"","method":"POST","ret":"txt","url":"http://127.0.0.1:8080/om2m/gscl/applications/Sensor_TV/containers/DATA/contentInstances/subscriptions","tls":"","x":539.0068969726562,"y":206.736083984375,"wires":[[]]},{"id":"e509f02c.e93d8","type":"oM2M-Subscription","z":"9fae6cbf.aeb61","xSCL":"7ad38553.e0231c","xA":"e2dc6eba.407ed","contactPath":"nscl/applications/NA/notification","filterType":"","filterCriteria":"content","x":340.9305725097656,"y":208.75344848632812,"wires":[["836810f6.83b2f"]]},{"id":"bbd08df7.d5826","type":"http in","z":"9fae6cbf.aeb61","name":"","url":"/notification","method":"post","swaggerDoc":"","x":85,"y":795,"wires":[["ee91bfd7.d29c2","378e77df.5c3e88"]]},{"id":"ee91bfd7.d29c2","type":"http response","z":"9fae6cbf.aeb61","name":"","x":246,"y":814,"wires":[]},{"id":"9ec74179.9d2a8","type":"http in","z":"9fae6cbf.aeb61","name":"","url":"/notification1","method":"post","swaggerDoc":"","x":121,"y":951,"wires":[["c3c6c375.0a3e8","22f7e9f.5e69316"]]},{"id":"c3c6c375.0a3e8","type":"http response","z":"9fae6cbf.aeb61","name":"","x":470,"y":1002,"wires":[]},{"id":"f7fce361.5ef71","type":"function","z":"9fae6cbf.aeb61","name":"","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\n\nreturn msg;","outputs":1,"noerr":0,"x":464,"y":893,"wires":[["bc398489.fb4758"]]},{"id":"22f7e9f.5e69316","type":"xml","z":"9fae6cbf.aeb61","name":"","attr":"","chr":"","x":312,"y":906,"wires":[["f7fce361.5ef71"]]},{"id":"bc398489.fb4758","type":"xml","z":"9fae6cbf.aeb61","name":"","attr":"","chr":"","x":607,"y":891,"wires":[["91d1cd44.8107d"]]},{"id":"91d1cd44.8107d","type":"function","z":"9fae6cbf.aeb61","name":"","func":"var obj = msg.payload['obj'];\nvar sensor = global.get(\"123\")\nvar str = obj['str'];\nvar str3 = str[3];\nvar dollar = str3['$']\nvar val = dollar['val']\n\nif(val == 'on')\n    {\n        result = 1\n    }\nelse{\n    result = 0\n}\n\nsensor[1] = result\nglobal.set(\"123\",sensor)\nmsg.payload = sensor\n\nreturn msg;","outputs":1,"noerr":0,"x":743,"y":893,"wires":[["27fb00d7.eb653"]]},{"id":"2a78a0a8.da89d","type":"inject","z":"9fae6cbf.aeb61","name":"BED_SUB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":151,"y":256,"wires":[["33da529.a124fae"]]},{"id":"b8d0c5bc.f72288","type":"http request","z":"9fae6cbf.aeb61","name":"","method":"POST","ret":"txt","url":"http://127.0.0.1:8080/om2m/gscl/applications/Sensor_BED/containers/DATA/contentInstances/subscriptions","tls":"","x":529.0069274902344,"y":254.736083984375,"wires":[[]]},{"id":"33da529.a124fae","type":"oM2M-Subscription","z":"9fae6cbf.aeb61","xSCL":"7ad38553.e0231c","xA":"e2dc6eba.407ed","contactPath":"nscl/applications/NA/notification1","filterType":"","filterCriteria":"content","x":334.93060302734375,"y":256.7534484863281,"wires":[["b8d0c5bc.f72288"]]},{"id":"b75cb915.8c5638","type":"http in","z":"9fae6cbf.aeb61","name":"","url":"/notification2","method":"post","swaggerDoc":"","x":129,"y":1113,"wires":[["ecd3826f.3bf2a","7d7292b7.55f87c"]]},{"id":"ecd3826f.3bf2a","type":"http response","z":"9fae6cbf.aeb61","name":"","x":478,"y":1164,"wires":[]},{"id":"bef5e6f7.9248a8","type":"function","z":"9fae6cbf.aeb61","name":"","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\n\nreturn msg;","outputs":1,"noerr":0,"x":472,"y":1055,"wires":[["add85be2.d315b8"]]},{"id":"7d7292b7.55f87c","type":"xml","z":"9fae6cbf.aeb61","name":"","attr":"","chr":"","x":320,"y":1068,"wires":[["bef5e6f7.9248a8"]]},{"id":"add85be2.d315b8","type":"xml","z":"9fae6cbf.aeb61","name":"","attr":"","chr":"","x":615,"y":1053,"wires":[["b21ce304.26053"]]},{"id":"b21ce304.26053","type":"function","z":"9fae6cbf.aeb61","name":"","func":"var obj = msg.payload['obj'];\nvar sensor = global.get(\"123\")\nvar str = obj['str'];\nvar str3 = str[3];\nvar dollar = str3['$']\nvar val = dollar['val']\n\nif(val == 'on')\n    {\n        result = 1\n    }\nelse{\n    result = 0\n}\n\nsensor[2] = result\nglobal.set(\"123\",sensor)\nmsg.payload = sensor\n\nreturn msg;","outputs":1,"noerr":0,"x":751,"y":1055,"wires":[["6f9c1f76.823dd"]]},{"id":"46231b27.d4e434","type":"inject","z":"9fae6cbf.aeb61","name":"LIG_SUB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":303,"wires":[["78eac9a8.959d28"]]},{"id":"8eb3ca22.431b28","type":"http request","z":"9fae6cbf.aeb61","name":"","method":"POST","ret":"txt","url":"http://127.0.0.1:8080/om2m/gscl/applications/Sensor_LIG/containers/DATA/contentInstances/subscriptions","tls":"","x":528.0069274902344,"y":301.736083984375,"wires":[[]]},{"id":"78eac9a8.959d28","type":"oM2M-Subscription","z":"9fae6cbf.aeb61","xSCL":"7ad38553.e0231c","xA":"e2dc6eba.407ed","contactPath":"nscl/applications/NA/notification2","filterType":"","filterCriteria":"content","x":333.93060302734375,"y":303.7534484863281,"wires":[["8eb3ca22.431b28"]]},{"id":"27fb00d7.eb653","type":"debug","z":"9fae6cbf.aeb61","name":"","active":true,"console":"false","complete":"payload","x":926,"y":885,"wires":[]},{"id":"6f9c1f76.823dd","type":"debug","z":"9fae6cbf.aeb61","name":"","active":true,"console":"false","complete":"payload","x":927,"y":1062,"wires":[]},{"id":"99537f21.07e8a","type":"inject","z":"9fae6cbf.aeb61","name":"CLO_SUB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":349,"wires":[["8b1f7534.3ab818"]]},{"id":"8756d42d.1aca08","type":"http request","z":"9fae6cbf.aeb61","name":"","method":"POST","ret":"txt","url":"http://127.0.0.1:8080/om2m/gscl/applications/SENSOR_CLO/containers/DATA/contentInstances/subscriptions","tls":"","x":528.0069274902344,"y":347.736083984375,"wires":[[]]},{"id":"8b1f7534.3ab818","type":"oM2M-Subscription","z":"9fae6cbf.aeb61","xSCL":"7ad38553.e0231c","xA":"a6b476bf.758df8","contactPath":"nscl/applications/NA/notification3","filterType":"","filterCriteria":"content","x":333.93060302734375,"y":349.7534484863281,"wires":[["8756d42d.1aca08"]]},{"id":"b3748a54.95e1a8","type":"http in","z":"9fae6cbf.aeb61","name":"","url":"/notification3","method":"post","swaggerDoc":"","x":117,"y":1281,"wires":[["625a2086.330f9","acc42a70.833ed8"]]},{"id":"625a2086.330f9","type":"http response","z":"9fae6cbf.aeb61","name":"","x":488,"y":1333,"wires":[]},{"id":"c44d5660.e78338","type":"function","z":"9fae6cbf.aeb61","name":"","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\n\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":1255,"wires":[["ebc2e200.e875"]]},{"id":"acc42a70.833ed8","type":"xml","z":"9fae6cbf.aeb61","name":"","attr":"","chr":"","x":321,"y":1256,"wires":[["c44d5660.e78338"]]},{"id":"ebc2e200.e875","type":"xml","z":"9fae6cbf.aeb61","name":"","attr":"","chr":"","x":593,"y":1254,"wires":[["9848996.886a068"]]},{"id":"9848996.886a068","type":"function","z":"9fae6cbf.aeb61","name":"","func":"var obj = msg.payload['obj'];\nvar sensor = global.get(\"123\")\nvar str = obj['str'];\nvar str3 = str[3];\nvar dollar = str3['$']\nvar val = dollar['val']\n\nif(val == 'on')\n    {\n        result = 1\n    }\nelse{\n    result = 0\n}\n\nsensor[3] = result\nglobal.set(\"123\",sensor)\nmsg.payload = sensor\n\nreturn msg;","outputs":1,"noerr":0,"x":731,"y":1254,"wires":[["76c8c52.f62003c"]]},{"id":"76c8c52.f62003c","type":"debug","z":"9fae6cbf.aeb61","name":"","active":true,"console":"false","complete":"payload","x":885,"y":1254,"wires":[]},{"id":"866a90ee.38aad","type":"function","z":"9fae6cbf.aeb61","name":"DSTheory","func":"var sensor = global.get(\"123\");  //get global sensor\n\n\n////////////宣告class TV///////////\n\nvar TV = function (power,discountingRate){\n    this.tv = power;\n    this.ntv = 1-power;\n    this.unctv = 0;\n    this.discountingRate = discountingRate;\n    \n    this.massFunction = function(){\n        this.tv = this.tv * this.discountingRate;\n        this.ntv = this.ntv * this.discountingRate;\n        this.unctv = this.unctv * this.discountingRate + (1-this.discountingRate);\n    }\n}\n////////////宣告class BED////////////\n\nvar BED = function (power,discountingRate){\n    this.bed = power;\n    this.nbed = 1-power;\n    this.uncbed = 0;\n    this.discountingRate = discountingRate;\n    \n    this.massFunction = function(){\n        this.bed = this.bed * this.discountingRate;\n        this.nbde = this.nbed * this.discountingRate;\n        this.uncbed = this.uncbed * this.discountingRate + (1-this.discountingRate);\n    }\n}\n\n//////////////宣告class LIG///////////\n\nvar LIG = function (power,discountingRate){\n    this.lig = power;\n    this.nlig = 1-power;\n    this.unclig = 0;\n    this.discountingRate = discountingRate;\n    \n    this.daylight = 0;\n    this.ndaylight = 0;\n    this.uncdaylight = 0;\n    this.nightlight = 0;\n    this.nnightlight = 0;\n    this.uncnightlight = 0;\n    \n    this.mapToDaylight = 0;\n    this.mapToNightlight = 0;\n    this.mapTonDaylight = 1;\n    this.mapTonNightlight = 1;\n    this.mapTouncDaylight = 1;\n    this.mapTouncNightlight = 1;\n    \n    \n    this.massFunction = function(){\n        this.lig = this.lig * this.discountingRate;\n        this.nlig = this.nlig * this.discountingRate;\n        this.unclig = this.unclig * this.discountingRate + (1-this.discountingRate);\n    }\n    \n    this.setmapToDaylight = function(m){\n        this.mapToDaylight = m;\n        this.mapToNightlight = 1-m\n        \n    }\n    \n}\n\n/////////////宣告class CLO//////////////\n\nvar CLO = function (power,discountingRate){\n    this.clo = power;\n    this.nclo = 1-power;\n    this.uncclo = 0;\n    this.discountingRate = discountingRate;\n    this.mapToSleepOnBed = 0;\n    this.mapTonSleepOnBed = 0;\n    this.mapTouncSleepOnBed = 1;\n    \n    this.massFunction = function(){\n        this.clo = this.clo * this.discountingRate;\n        this.nclo = this.nclo * this.discountingRate;\n        this.uncclo = this.uncclo * this.discountingRate + (1-this.discountingRate);\n    }\n    \n   this.setmapTosleep = function(m){\n        this.mapToSleepOnBed = m\n        \n   }\n}\n\n////////////宣告class WatchTvOnBed////////////\n\nvar TBD = function(){\n    this.tbd = 0;\n    this.ntbd = 0;\n    this.unctbd = 0;\n}\n\n///////////宣告class SleepOnBed///////////////\n\nvar BN = function(){\n    this.bn =  0;\n    this.nbn = 0;\n    this.uncbn = 0;\n}\n\n//////////宣告class TV,BED,DAYLIGHT//////////\n\nvar mTBD = function(){\n    this.mtbd = 0;\n    this.nmtbd = 0;\n    this.uncmtbd = 0;\n    \n}\n\n///////////宣告class BED,NIGHTLIGHT//////////\n\nvar mBN = function(){\n    this.mbn = 0;\n    this.nmbn = 0;\n    this.uncmbn = 0;\n    \n}\n\n//////////宣告class Watch Tv On Bed/////////////\n\nvar WToB = function(){\n    this.wtob = 0;\n    this.nwtob = 0;\n    this.uncwtob = 0;\n}\n\n//////////宣告class Sleep On Bed/////////////\n\nvar SoB = function(){\n    this.sob = 0;\n    this.nsob = 0;\n    this.uncsob = 0;\n}\n\n//////////宣告clss combination mass Function/////////////////\n\nvar CMF = function(){\n    this.m1c = 0;\n    this.m1nc = 0;\n    this.m1uncc = 0;\n    this.m2c = 0;\n    this.m2nc = 0;\n    this.m2uncc = 0;\n    this.m12c = 0;\n    this.m12nc = 0;\n    this.m12uncc = 0;\n    this.m12andc = 0;\n    this.Mc = 0;\n    this.Mnc = 0;\n    this.Muncc = 0;\n    \n    this.combine = function(){\n        this.m12c = this.m1c * this.m2c + this.m1uncc * this.m2c + this.m1c * this.m2uncc;\n        this.m12nc = this.m1nc * this.m2nc + this.m1nc * this.m2uncc + this.m1uncc * this.m2nc;\n        this.m12uncc = this.m1uncc * this.m2uncc;\n        this.m12andc = this.m1c * this.m2nc + this.m2c * this.m1nc;\n    }\n    \n    this.combineM = function(){\n        this.Mc = this.m12c/(1-this.m12andc);\n        this.Mnc = this.m12nc/(1-this.m12andc);\n        this.Muncc = this.m12uncc/(1-this.m12andc);\n    }\n    \n}\n\n\n///////////---------------discounting sensor evidence and Mass Function---------//////////\n\nvar stv = new TV(sensor[0], 0.7);\nstv.massFunction();\n\nvar sbed = new BED(sensor[1], 0.85);\nsbed.massFunction();\n\nvar slig = new LIG(sensor[2], 0.85);\nslig.massFunction();\nslig.setmapToDaylight(0.8); ////////set Map To DayLight\n\nvar sclo = new CLO(sensor[3], 0.7);\nsclo.massFunction();\nsclo.setmapTosleep(0.5);//set Map To Sleep\n\n/////////--------------inferring froma a sensed context node to a deduced context node-------------///////////////\n\n\n\nslig.daylight = slig.lig * slig.mapToDaylight;\nslig.ndaylight = slig.nlig * slig.mapTonDaylight;\nslig.uncdaylight = slig.lig * (1-slig.mapToDaylight) + slig.unclig * slig.mapTouncDaylight;\n\nslig.nightlight = slig.lig * slig.mapToNightlight;\nslig.nnightlight = slig.nlig * slig.mapTonNightlight;\nslig.uncnightlight = slig.lig * (1-slig.mapToNightlight) + slig.unclig * slig.mapTouncNightlight;\n\n//////----------translating to WatchTv on Bed------------/////////\n\nvar tbd1 = new TBD();\nvar tbd2 = new TBD();\nvar tbd3 = new TBD();\n\ntbd1.tbd = stv.tv;\ntbd1.ntbd = stv.ntv;\ntbd1.unctbd = stv.unctv;\ntbd2.tbd = sbed.bed;\ntbd2.ntbd = sbed.nbed;\ntbd2.unctbd = sbed.uncbed;\ntbd3.tbd = slig.daylight;\ntbd3.ntbd = slig.ndaylight;\ntbd3.unctbd = slig.uncdaylight;\n\n/////-----------translating to Sleep on Bed--------////////////////\n\nvar bn1 = new BN();\nvar bn2 = new BN();\n\nbn1.bn = sbed.bed;\nbn1.nbn = sbed.nbed;\nbn1.uncbn = sbed.uncbed;\nbn2.bn = slig.nightlight;\nbn2.nbn = slig.nnightlight;\nbn2.uncbn = slig.uncnightlight;\n\n//////-----------composite context node(TBD)------////////////////\n\nvar tvbeddaylight = new mTBD();\ntvbeddaylight.mtbd = (tbd1.tbd+tbd2.tbd+tbd3.tbd)/3\ntvbeddaylight.nmtbd = (tbd1.ntbd+tbd2.ntbd+tbd3.ntbd)/3\ntvbeddaylight.uncmtbd = (tbd1.unctbd+tbd2.unctbd+tbd3.unctbd)/3\n\n/////-------------composite context node (BN)----///////////////////\n\nvar bednightlight = new mBN();\nbednightlight.mbn = (bn1.bn+bn2.bn)/2\nbednightlight.nmbn = (bn1.nbn+bn2.nbn)/2\nbednightlight.uncmbn = (bn1.uncbn+bn2.uncbn)/2\n\n////---------------composite Watch Tv On Bed-----/////////\n\nvar wtob1 = new WToB();\nwtob1.wtob = tvbeddaylight.mtbd\nwtob1.nwtob = tvbeddaylight.nmtbd\nwtob1.uncwtob = tvbeddaylight.uncmtbd\n\nvar sob1 = new SoB();\nsob1.sob = bednightlight.mbn\nsob1.nsob = bednightlight.nmbn\nsob1.uncsob = bednightlight.uncmbn\n\nvar sob2 = new SoB();\nsob2.sob = sclo.clo * sclo.mapToSleepOnBed;\nsob2.nsob = sclo.nclo * sclo.mapTonSleepOnBed;\nsob2.uncsob = sclo.clo * (1-sclo.mapToSleepOnBed) + sclo.nclo * sclo.mapTouncSleepOnBed+ sclo.uncclo * sclo.mapTouncSleepOnBed;\n\n///////-----------combing mass function----------///////////\nvar cmf = new CMF();\ncmf.m1c = sob1.sob;\ncmf.m1nc = sob1.nsob;\ncmf.m1uncc = sob1.uncsob;\ncmf.m2c = sob2.sob;\ncmf.m2nc = sob2.nsob;\ncmf.m2uncc = sob2.uncsob;\n\ncmf.combine();\ncmf.combineM();\n\n////////-------------Calculating Bel and Pls\n\nvar Bel_SleepOnBed = cmf.Mc;\nvar Pls_SleepOnBed = cmf.Mc + cmf.Muncc;\n\nvar Bel_WatchTvOnBed = wtob1.wtob;\nvar Pls_WatchTvOnBed = wtob1.wtob + wtob1.uncwtob;\n\n/////////-------------if and els------------////////////////\nvar result; \n\n\nif (Bel_SleepOnBed >= Bel_WatchTvOnBed){\n    result = \"No service required\"\n}\n\nelse {\n    result = \"Service required\"\n}\n    \n\n\n//-----------------------------------test------------------------------------//\n\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":363,"y":475,"wires":[["8140397.d764dc8","b0251669.ced0f8"]]},{"id":"8140397.d764dc8","type":"debug","z":"9fae6cbf.aeb61","name":"","active":true,"console":"false","complete":"payload","x":557,"y":476,"wires":[]},{"id":"378e77df.5c3e88","type":"xml","z":"9fae6cbf.aeb61","name":"","attr":"","chr":"","x":246,"y":777,"wires":[["240e95a6.34d8aa"]]},{"id":"240e95a6.34d8aa","type":"function","z":"9fae6cbf.aeb61","name":"","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\n\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":777,"wires":[["a97cd387.20dc4"]]},{"id":"a97cd387.20dc4","type":"xml","z":"9fae6cbf.aeb61","name":"","attr":"","chr":"","x":486,"y":777,"wires":[["206d40ba.3ef59"]]},{"id":"206d40ba.3ef59","type":"function","z":"9fae6cbf.aeb61","name":"","func":"var sensor = global.get(\"123\");\nvar obj = msg.payload['obj'];\nvar str = obj['str'];\nvar str3 = str[3];\nvar dollar = str3['$']\nvar val = dollar['val']\n\nif(val == 'on')\n    {\n        result = 1\n    }\nelse{\n    result = 0\n}\n\nsensor[0] = result\nmsg.payload = sensor\nglobal.set(\"123\",sensor)\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":777,"wires":[["42e7b2ca.9687dc"]]},{"id":"5af110ed.b09b7","type":"inject","z":"9fae6cbf.aeb61","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146,"y":414,"wires":[["a4c7aed5.3f1cc"]]},{"id":"a4c7aed5.3f1cc","type":"function","z":"9fae6cbf.aeb61","name":"Initialize sensor array","func":"var sensor = []\nglobal.set(\"123\",sensor)\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":413,"wires":[["44ea93b2.5899dc"]]},{"id":"44ea93b2.5899dc","type":"debug","z":"9fae6cbf.aeb61","name":"","active":true,"console":"false","complete":"false","x":577,"y":412,"wires":[]},{"id":"42e7b2ca.9687dc","type":"debug","z":"9fae6cbf.aeb61","name":"","active":true,"console":"false","complete":"false","x":793,"y":790,"wires":[]},{"id":"8a79d326.f852e","type":"http in","z":"9fae6cbf.aeb61","name":"","url":"127.0.0.1:1880/dstheory","method":"get","swaggerDoc":"","x":225,"y":619,"wires":[["876c318b.42f2e"]]},{"id":"876c318b.42f2e","type":"function","z":"9fae6cbf.aeb61","name":"","func":"msg.payload = \"testtest\"\nreturn msg;","outputs":1,"noerr":0,"x":483,"y":619,"wires":[["1139dfd.5d8072"]]},{"id":"1139dfd.5d8072","type":"http response","z":"9fae6cbf.aeb61","name":"","x":691,"y":619,"wires":[]},{"id":"b0251669.ced0f8","type":"http response","z":"9fae6cbf.aeb61","name":"","x":563,"y":530,"wires":[]},{"id":"72473535.cf7b0c","type":"http in","z":"9fae6cbf.aeb61","name":"","url":"/dstheory","method":"get","swaggerDoc":"","x":186,"y":476,"wires":[["866a90ee.38aad"]]},{"id":"10441c97.df0da3","type":"oM2M-aPoCApplication","z":"9fae6cbf.aeb61","xSCL":"7ad38553.e0231c","xA":"e2dc6eba.407ed","obixType":"","obixCategory":"","obixLocation":"NCKU","obixaPoCPath":"127.0.0.1:1880","obixAnnounce":false,"x":377,"y":137,"wires":[["f38703c0.6c807"]]},{"id":"7ad38553.e0231c","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"e2dc6eba.407ed","type":"xA","z":"9fae6cbf.aeb61","appId":"NA","contactUrl":"localhost:1880"},{"id":"a6b476bf.758df8","type":"xA","z":"","appId":"NA_APPLICATION","contactUrl":"localhost:1880"}]
