node-red-Sensor
[{"id":"bc300e18.3af52","type":"oM2M-Application","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"b486d0d8.756ec","obixType":"Gateway Application","obixCategory":"Furniture","obixLocation":"NCKU","obixAnnounce":true,"x":357,"y":56,"wires":[["6922a34e.49b88c"]]},{"id":"9bc542fd.a688e","type":"inject","z":"2a699358.39216c","name":"Sensor_TV","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":155,"y":53,"wires":[["bc300e18.3af52"]]},{"id":"6922a34e.49b88c","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":558,"y":51,"wires":[[]]},{"id":"d3fbe013.70a63","type":"oM2M-Descriptor-Container","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"b486d0d8.756ec","x":375,"y":99,"wires":[["6ed12203.d2afcc"]]},{"id":"6ed12203.d2afcc","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":573,"y":101,"wires":[[]]},{"id":"1310c111.37eaef","type":"inject","z":"2a699358.39216c","name":"Sensor_TV","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":156,"y":95,"wires":[["d3fbe013.70a63"]]},{"id":"9bb8f72.bf93108","type":"oM2M-Descriptor-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"b486d0d8.756ec","obixType":"Gateway Application","obixLocation":"NCKU","x":378,"y":140,"wires":[["2df4e7ef.88f408"]]},{"id":"2df4e7ef.88f408","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":606,"y":139,"wires":[[]]},{"id":"8d129c0.1724a68","type":"inject","z":"2a699358.39216c","name":"Sensor_TV","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":145,"y":138,"wires":[["9bb8f72.bf93108"]]},{"id":"bbdba640.966818","type":"oM2M-Data-Container","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"b486d0d8.756ec","maxNrOfInstances":"100","obixAnnounce":true,"x":371,"y":178,"wires":[["faab1810.02ae18"]]},{"id":"a9f06577.0320d8","type":"inject","z":"2a699358.39216c","name":"Sensor_TV","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":151,"y":177,"wires":[["bbdba640.966818"]]},{"id":"faab1810.02ae18","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":591,"y":181,"wires":[[]]},{"id":"a8f1eaaf.8e2818","type":"oM2M-Data-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"b486d0d8.756ec","obixCategory":"Furniture","x":471,"y":221,"wires":[["ae90b49e.719f18"]]},{"id":"e1a9d61d.46f018","type":"inject","z":"2a699358.39216c","name":"Sensor_TV","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":149,"y":220,"wires":[["d9952028.d4d8"]]},{"id":"ae90b49e.719f18","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":687,"y":221,"wires":[[]]},{"id":"d9952028.d4d8","type":"function","z":"2a699358.39216c","name":"on","func":"var data = {\ntype:'tv',\nint: 1,\npower: 'on'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":221,"wires":[["a8f1eaaf.8e2818"]]},{"id":"d3fb10fc.37b1b","type":"oM2M-Application","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"359e645f.01d38c","obixType":"Gateway Application","obixCategory":"Furniture","obixLocation":"NCKU","obixAnnounce":true,"x":379,"y":360,"wires":[["e9899965.1abf58"]]},{"id":"c7aed88.e2b1e28","type":"inject","z":"2a699358.39216c","name":"Sensor_BED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":187,"y":357,"wires":[["d3fb10fc.37b1b"]]},{"id":"e9899965.1abf58","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":580,"y":355,"wires":[[]]},{"id":"32d7cf2e.37236","type":"oM2M-Descriptor-Container","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"359e645f.01d38c","x":397,"y":403,"wires":[["1e9f544c.46642c"]]},{"id":"1e9f544c.46642c","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":595,"y":405,"wires":[[]]},{"id":"7bd7ef62.6a328","type":"inject","z":"2a699358.39216c","name":"Sensor_BED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":188,"y":399,"wires":[["32d7cf2e.37236"]]},{"id":"1bd9ea79.4b7d46","type":"oM2M-Descriptor-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"359e645f.01d38c","obixType":"Gateway Application","obixLocation":"NCKU","x":400,"y":444,"wires":[["5dd4c878.527998"]]},{"id":"5dd4c878.527998","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":628,"y":443,"wires":[[]]},{"id":"5ace483f.993648","type":"inject","z":"2a699358.39216c","name":"Sensor_BED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171,"y":448,"wires":[["1bd9ea79.4b7d46"]]},{"id":"162b3c55.03c754","type":"oM2M-Data-Container","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"359e645f.01d38c","maxNrOfInstances":"100","obixAnnounce":true,"x":407,"y":485,"wires":[["d18eda98.fa4a58"]]},{"id":"b141dc36.78388","type":"inject","z":"2a699358.39216c","name":"Sensor_BED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":193,"y":486,"wires":[["162b3c55.03c754"]]},{"id":"d18eda98.fa4a58","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":613,"y":485,"wires":[[]]},{"id":"e7dfd2b4.619ee","type":"oM2M-Data-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"359e645f.01d38c","obixCategory":"Furniture","x":477,"y":529,"wires":[["e24e7251.13777"]]},{"id":"ed7b3428.e969d8","type":"inject","z":"2a699358.39216c","name":"Sensor_BED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":165,"y":528,"wires":[["93a1d945.bab068"]]},{"id":"e24e7251.13777","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":693,"y":524,"wires":[[]]},{"id":"93a1d945.bab068","type":"function","z":"2a699358.39216c","name":"on","func":"var data = {\ntype:'bed',\nint: 1,\npower: 'on'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":301,"y":527,"wires":[["e7dfd2b4.619ee"]]},{"id":"564f9fd.8a2986","type":"oM2M-Application","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"5684bd90.567dc4","obixType":"Gateway Application","obixCategory":"Furniture","obixLocation":"NCKU","obixAnnounce":true,"x":337,"y":678,"wires":[["a29a7889.d2f488"]]},{"id":"edaeff26.53b3f","type":"inject","z":"2a699358.39216c","name":"Sensor_LIG","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":145,"y":675,"wires":[["564f9fd.8a2986"]]},{"id":"a29a7889.d2f488","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":538,"y":673,"wires":[[]]},{"id":"855579e1.21d548","type":"oM2M-Descriptor-Container","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"5684bd90.567dc4","x":355,"y":721,"wires":[["8aab5cbb.7d8b3"]]},{"id":"8aab5cbb.7d8b3","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":553,"y":723,"wires":[[]]},{"id":"925ac4dd.84bc88","type":"inject","z":"2a699358.39216c","name":"Sensor_LIG","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146,"y":717,"wires":[["855579e1.21d548"]]},{"id":"3dc6316b.e00dfe","type":"oM2M-Descriptor-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"5684bd90.567dc4","obixType":"Gateway Application","obixLocation":"NCKU","x":358,"y":762,"wires":[["525690d0.40daf"]]},{"id":"525690d0.40daf","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":586,"y":761,"wires":[[]]},{"id":"4d3d1c8d.4b2a84","type":"inject","z":"2a699358.39216c","name":"Sensor_LIG","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":129,"y":766,"wires":[["3dc6316b.e00dfe"]]},{"id":"2ce72261.ec7e5e","type":"oM2M-Data-Container","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"5684bd90.567dc4","maxNrOfInstances":"100","obixAnnounce":true,"x":359,"y":798,"wires":[["815b6df3.4c7db"]]},{"id":"cc3337e0.48ac08","type":"inject","z":"2a699358.39216c","name":"Sensor_LIG","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":151,"y":804,"wires":[["2ce72261.ec7e5e"]]},{"id":"815b6df3.4c7db","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":571,"y":803,"wires":[[]]},{"id":"93b285bc.8e5a28","type":"oM2M-Data-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"5684bd90.567dc4","obixCategory":"Furniture","x":435,"y":847,"wires":[["f413f1b1.6b52"]]},{"id":"7439070a.e593e8","type":"inject","z":"2a699358.39216c","name":"Sensor_LIG","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":846,"wires":[["aa95a196.c1d6"]]},{"id":"f413f1b1.6b52","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":647,"y":852,"wires":[[]]},{"id":"aa95a196.c1d6","type":"function","z":"2a699358.39216c","name":"on","func":"var data = {\ntype:'lig',\nint: 1,\npower: 'on'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":259,"y":845,"wires":[["93b285bc.8e5a28"]]},{"id":"95689f61.21f8","type":"oM2M-Application","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"f894cb8.2795e38","obixType":"Gateway Application","obixCategory":"Furniture","obixLocation":"NCKU","obixAnnounce":true,"x":354,"y":1047,"wires":[["27a4c2cb.1600ae"]]},{"id":"62a4ac0c.3fb604","type":"inject","z":"2a699358.39216c","name":"Sensor_CLO","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162,"y":1044,"wires":[["95689f61.21f8"]]},{"id":"27a4c2cb.1600ae","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":555,"y":1042,"wires":[[]]},{"id":"7acc5073.a7d9b","type":"oM2M-Descriptor-Container","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"f894cb8.2795e38","x":372,"y":1090,"wires":[["c56f889.2bfd378"]]},{"id":"c56f889.2bfd378","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":570,"y":1092,"wires":[[]]},{"id":"2453b88c.3f9d18","type":"inject","z":"2a699358.39216c","name":"Sensor_CLO","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":163,"y":1086,"wires":[["7acc5073.a7d9b"]]},{"id":"75a9f6c6.3a8b28","type":"oM2M-Descriptor-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"f894cb8.2795e38","obixType":"Gateway Application","obixLocation":"NCKU","x":375,"y":1131,"wires":[["ba0fd151.f659e"]]},{"id":"ba0fd151.f659e","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":603,"y":1130,"wires":[[]]},{"id":"55d8e59a.ca62cc","type":"inject","z":"2a699358.39216c","name":"Sensor_CLO","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146,"y":1135,"wires":[["75a9f6c6.3a8b28"]]},{"id":"5ad30b4.9a818f4","type":"oM2M-Data-Container","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"f894cb8.2795e38","maxNrOfInstances":"100","obixAnnounce":true,"x":376,"y":1167,"wires":[["c9ae5d6e.a94f5"]]},{"id":"83f9ae68.aaa58","type":"inject","z":"2a699358.39216c","name":"Sensor_CLO","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168,"y":1173,"wires":[["5ad30b4.9a818f4"]]},{"id":"c9ae5d6e.a94f5","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":588,"y":1172,"wires":[[]]},{"id":"1efa37af.c5a388","type":"oM2M-Data-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"f894cb8.2795e38","obixCategory":"Furniture","x":452,"y":1216,"wires":[["9b4e4ae8.e9a178"]]},{"id":"50ebb20b.d3be0c","type":"inject","z":"2a699358.39216c","name":"Sensor_CLO","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":1215,"wires":[["486f5bfd.fc2204"]]},{"id":"9b4e4ae8.e9a178","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":674,"y":1216,"wires":[[]]},{"id":"486f5bfd.fc2204","type":"function","z":"2a699358.39216c","name":"on","func":"var data = {\ntype:'clo',\nint: 1,\npower: 'on'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":1214,"wires":[["1efa37af.c5a388"]]},{"id":"c8958c0c.a296d","type":"oM2M-Data-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"b486d0d8.756ec","obixCategory":"Furniture","x":479,"y":258,"wires":[["702ae238.24254c"]]},{"id":"17c88eb3.c4bc41","type":"inject","z":"2a699358.39216c","name":"Sensor_TV","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157,"y":257,"wires":[["513045db.a120ac"]]},{"id":"702ae238.24254c","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":695,"y":258,"wires":[[]]},{"id":"513045db.a120ac","type":"function","z":"2a699358.39216c","name":"off","func":"var data = {\ntype:'tv',\nint: 1,\npower: 'off'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":296,"y":258,"wires":[["c8958c0c.a296d"]]},{"id":"f6d06427.19e968","type":"oM2M-Data-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"359e645f.01d38c","obixCategory":"Furniture","x":491,"y":565,"wires":[["93468dcf.c816c"]]},{"id":"941c41e5.715b1","type":"inject","z":"2a699358.39216c","name":"Sensor_BED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157,"y":562,"wires":[["cae1756c.f57be8"]]},{"id":"93468dcf.c816c","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":707,"y":560,"wires":[[]]},{"id":"cae1756c.f57be8","type":"function","z":"2a699358.39216c","name":"off","func":"var data = {\ntype:'bed',\nint: 1,\npower: 'off'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":563,"wires":[["f6d06427.19e968"]]},{"id":"581a8cc9.1bf694","type":"oM2M-Data-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"5684bd90.567dc4","obixCategory":"Furniture","x":435,"y":889,"wires":[["f7302138.92215"]]},{"id":"b635aad9.f4d7b8","type":"inject","z":"2a699358.39216c","name":"Sensor_LIG","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":888,"wires":[["83c4e99b.46abc8"]]},{"id":"f7302138.92215","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":647,"y":894,"wires":[[]]},{"id":"83c4e99b.46abc8","type":"function","z":"2a699358.39216c","name":"off","func":"var data = {\ntype:'lig',\nint: 1,\npower: 'off'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":259,"y":887,"wires":[["581a8cc9.1bf694"]]},{"id":"d45850a.b18e7b","type":"oM2M-Data-ContentInstance","z":"2a699358.39216c","xSCL":"79229e5d.f004","xA":"f894cb8.2795e38","obixCategory":"Furniture","x":461,"y":1264,"wires":[["652976fb.4c7ab8"]]},{"id":"f6362edc.923dc","type":"inject","z":"2a699358.39216c","name":"Sensor_CLO","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":149,"y":1263,"wires":[["24a69e73.195382"]]},{"id":"652976fb.4c7ab8","type":"http request","z":"2a699358.39216c","name":"","method":"POST","ret":"txt","url":"","tls":"","x":683,"y":1264,"wires":[[]]},{"id":"24a69e73.195382","type":"function","z":"2a699358.39216c","name":"off","func":"var data = {\ntype:'clo',\nint: 1,\npower: 'off'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":1262,"wires":[["d45850a.b18e7b"]]},{"id":"79229e5d.f004","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"b486d0d8.756ec","type":"xA","z":"2a699358.39216c","appId":"Sensor_TV","contactUrl":"localhost:1880"},{"id":"359e645f.01d38c","type":"xA","z":"2a699358.39216c","appId":"Sensor_BED","contactUrl":"localhost:1880"},{"id":"5684bd90.567dc4","type":"xA","z":"2a699358.39216c","appId":"Sensor_LIG","contactUrl":"localhost:1880"},{"id":"f894cb8.2795e38","type":"xA","z":"2a699358.39216c","appId":"SENSOR_CLO","contactUrl":"localhost:1880"}]
